* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.navbar-icon {
    z-index: 1001;
    position: fixed;
    top: 40px;
    left: 25px;
    display: none;
}

.navbar-icon i {
    color: gray;
    font-size: 25px;
}

.navbar-icon i:hover {
    cursor: pointer;
}

.navbar-scroll {
    position: fixed;
    width: 12rem;
    height: 100vh;
    z-index: 1000;
    background-color: #ccc;
    display: none;
    flex-direction: column;
}

.navbar-scroll ul {
    margin-top: 4rem;
    margin-left: 1rem;
}

.navbar-scroll ul li {
    list-style-type: none;
    text-transform: uppercase;
    margin-top: 2rem;
}

.navbar-scroll ul li a {
    text-decoration: none;
    color: black;
}

.navbar-scroll ul li a:hover {
    color: rgb(136, 112, 112);
    transition: all 0.17s ease-in-out;
}

#particles-js {
    position: relative;
    margin: 0;
    padding: 0;
    background: #000;
    height: 100vh;
    z-index: -1;
}
.banner-text {
    width: 100%;
    position: absolute;
    z-index: 1;
}
.banner-text ul {
    height: 50px;
    display: flex;
    justify-content: center;
}
.banner-text ul li {
    display: inline-block;
    padding: 40px 15px;
}
.banner-text ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px 10px;
}
.banner-text ul li a:hover {
    border-bottom: solid 3px white; 
    transition: all 0.2s ease-out;
    /*    background: #fff;
    color: #000;*/
}
.intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.intro-text h2 { 
    text-align: center;
    color: #fff;
    font-size: 50px;
    letter-spacing: 5px;
}
.intro-text p {
    text-align: center;
    font-size: 24px;
    width: 100%;
    margin: auto;
    color: #fff;
    line-height: 1.7;
}
.section-about{
    background-color: #F5F5F5;
    font-family: Poppins;
    height: 100vh;
    max-height: 100vh;
    color: rgb(110, 110, 110);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section-about img {
    margin-top: 4rem;
    margin-bottom: 2rem;
    max-width: 200px;
    border-radius: 12%;
    display: block;
}

.section-about h1{
    font-weight: normal;
    margin-bottom: 1rem;
}
.section-about hr{
    border: solid 0.5px rgb(110, 110, 110);
    width: 5%;
    margin-bottom: 1rem;
}

.section-about .paragraphs{
    max-width: 40%;
    margin-bottom: 6rem;
}

.section-about p {
    text-align: center;
    width: 100%;
    font-size: 18px;
}

.section-about span{
    margin-bottom: 0;
}

.what-i-do {
    background-color: #fff;
    margin-bottom: 5rem;
}

.what-i-do h3, .timeline h3 {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: normal;
    padding-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.what-i-do .education ul,
.what-i-do .development ul{
    list-style-type: none;
}

.li-content {
    display: inline-block;
    text-align: left;
    margin-bottom: 0.5rem;
    width: 100%;
}

.li-content img{
    float: left;
    width: 80px;
    height: auto;
}

.li-content p {
    margin-top: 1rem;
    display: inline-block;
}

.development-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
    text-align: center;
}

.development-content-skills h5,
.education-content h5,
.main-p {
    margin-top: 1rem;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 20px;
}
.development-content-skills {
    width: 30%;
}

.element-p {
    margin: 1rem 0;
}

.development-content-skills ul li label {
    display: block;
    float: left;
}

.development-content-skills ul li progress{
    height: 10px;
    width: 100%;
    margin-top: 0.4rem;
    margin-bottom: 0.8rem;
    background-color: lightgray;
    border-radius: 12px;
}

progress::-webkit-progress-value {
    background: black;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

progress::-webkit-progress-bar {
    background: lightgray;
    border-radius: 12px;
}

.projects {
    height: 100vh;
    max-height: 100vh;
    font-family: Poppins;
    background-color: #ddd;
}
.projects h1{
    padding-top: 1.5rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0;
}
.flexbox-container{
    display: flex;
    flex-direction: row;
}

.flexbox-item {
    width: 100%;
    margin: 1.5rem;
    min-height: 200px;
}

.flexbox-container > div {
    flex: 50%;
}

.flexbox-list-item {
    list-style-type: none;
    margin-left: 3rem;
    margin-bottom: 2.2rem;
}

.flexbox-list-item h3 {
    font-weight: normal;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}

.flexbox-list-item p, 
.flexbox-list-item span,
.fas.fa-link {
    margin-left: 2rem;
}
.flexbox-list-item span {
    font-size: 1rem;
    width: 100%;
    max-width: 60%;
    display: block;
}

.flexbox-list-item p {
    font-size: 1rem;
    margin-top: 0.5rem;
    width: 100%;
    max-width: 90%;
}

.flexbox-list-item a {
    font-size: 0.9rem;
    text-decoration: none;
}
.flexbox-list-item a:hover {
    color: #246bb3;
}
.flexbox-list-item i {
    margin-right: 0.5rem;
}

.carousel__nav{
    transition: 1s;
    text-align: center;
}

.carousel__button{
    width: 12px;
    height: 12px;
    display: inline-block;
    background: black;
    border-radius: 50%;
    margin: 0 0.3rem;
    cursor: pointer;
}

.carousel__item{
    display: none;
}

.carousel__button--selected{
    background-color: rgb(148, 142, 142);
}

.carousel__item--selected{
    display: block;
}

.wrapper{
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 20px;
    position: relative;
  }
  .wrapper .center-line{
    position: absolute;
    height: 100%;
    width: 4px;
    background: #ccc;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
  }
  .wrapper .row{
    display: flex;
  }
  .wrapper .row-1{
    justify-content: flex-start;
  }
  .wrapper .row-2{
    justify-content: flex-end;
  }
  .wrapper .row section{
    background: #fff;
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .wrapper .row section::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    top: 28px;
    z-index: -1;
    transform: rotate(45deg);
  }

  .row span {
      display: inline-block;
  }

  .row img{
    float: right;
    width: 80px;
    height: auto;
    }

  .row-1 section::before{
    right: -7px;
  }
  .row-2 section::before{
    left: -7px;
  }
  .row section .icon,
  .center-line .scroll-icon{
    position: absolute;
    background: #f2f2f2;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ff7979;
    font-size: 17px;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
  }
  .center-line .scroll-icon{
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
  }
  .row-1 section .icon{
    top: 15px;
    right: -60px;
  }
  .row-2 section .icon{
    top: 15px;
    left: -60px;
  }

  .row section .details,
  .row section .bottom{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .row section .details .title{
    font-size: 18px;
    font-weight: 600;
  }
  .row section p{
    margin: 10px 0 17px 0;
  }
  .row section .bottom a{
    text-decoration: none;
    background: #ff7979;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    /* font-size: 17px; */
    font-weight: 400;
    transition: all 0.3s ease;
  }
  .row section .bottom a:hover{
    transform: scale(0.97);
  }

.contacts {
    /*background-color: #F5F5F5;*/
    background-color: #FFFFFF;
    font-family: Poppins;
    height: 60vh;
    max-height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contacts-message, 
.contacts-cv{
    text-align: center;
}

.contacts-message h3,
.contacts-message .far.fa-paper-plane,
.contacts-cv h3{
    color: #454545;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
}

.contacts-message h3{
    margin-bottom: 1rem;
}

.contacts-cv h3{
    margin-top: 3.5rem;
    margin-bottom: 1rem;
}

.contacts-message p {
    color: #808080;
    font-size: 21px;
    margin-bottom: 1rem;
}

.contacts-message button,
.contacts-cv button {
    font-family: Poppins;
    background-color: white;
    border-radius: 3px;
    padding: 0.6rem 1rem;
    color: rgb(122, 122, 122);
    border: solid 1px #ccc;
}

.contacts-message button{
    font-size: 19px;
}

.contacts-cv button{
    font-size: 24px;
}

.contacts-message button:hover,
.contacts-cv button:hover {
    background-color: gray;
    cursor: pointer;
    color: white;
    transition: all 0.4s ease-in-out;
}

.footer{
    height: 40vh;
    background-color: #ECECEC;
}

.footer h2 {
    font-family: Poppins;
    font-weight: normal;
    font-size: 26px;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1.7rem;
}

.icons {
    list-style-type: none;
    text-align: center;
}

.icons .github {
    margin: 0 5rem;
}

.icons i {
    font-size: 2.5em;
    margin-bottom: 1rem;
}

.footer ul li a {
    color: lightgray;
}

.icons li a{
    text-decoration: none;
}

.icons li a p{
    display: block;
}

li.twitter a{
    opacity: 0.7;
}

li.linkedin a{
    opacity: 0.7;
}

li.github a{
    opacity: 0.7;
}

.icons li a p {
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

li.twitter:hover p{
    color: #1DA1F2;
    visibility: visible;
    transition: all 0.7s ease-in-out;

}
li.twitter:hover a{
    color: #1DA1F2;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

li.linkedin:hover p{
    color: #0e76a8;
    visibility: visible;
    transition: all 0.7s ease-in-out;
}
li.linkedin:hover a{
    color: #0e76a8;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

li.github:hover p{
    color: black;
    visibility: visible;
    transition: all 0.7s ease-in-out;
}
li.github:hover a{
    color: black;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.footer span {
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
}

@media all and (max-width: 960px) {

    .navbar-icon{
        display: block;
        left: 15px;
        top: 25px;
    }
    .banner-text{
        display: none;
    }

    .intro-text h2 {
        font-size: 30px;
    }

    .section-about .paragraphs {
        max-width: 85%;
        margin-bottom: 1.5rem;
    }

    .section-about .paragraphs p {
        font-size: 16px;
    }

    .section-about img {
        margin-top: 0;
    }

    .development-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .education-section {
        margin-bottom: 1.2rem;
    }

    .development-content-skills {
        width: 80%;
    }

    .wrapper .center-line{
        left: 40px;
    }

    .wrapper .row{
    margin: 30px 0 3px 60px;
    }

    .wrapper .row section{
    width: 100%;
    }

    .row-1 section::before{
    left: -7px;
    }

    .row-1 section .icon{
    left: -60px;
    }

    .contacts {
        margin-bottom: 3rem;
    }
    
    .footer {
        height: 45vh;
    }
}

@media(max-width: 440px){
    .wrapper .center-line,
    .row section::before,
    .row section .icon{
      display: none;
    }
    .wrapper .row{
      margin: 10px 0;
    }
  }