.contacts {
    /*background-color: #F5F5F5;*/
    background-color: #FFFFFF;
    font-family: Poppins;
    height: 60vh;
    max-height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contacts-message, 
.contacts-cv{
    text-align: center;
}

.contacts-message h3,
.contacts-message .far.fa-paper-plane,
.contacts-cv h3{
    color: #454545;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
}

.contacts-message h3{
    margin-bottom: 1rem;
}

.contacts-cv h3{
    margin-top: 3.5rem;
    margin-bottom: 1rem;
}

.contacts-message p {
    color: #808080;
    font-size: 21px;
    margin-bottom: 1rem;
}

.cv-buttons {
    width: 32vw;
    display: flex;
    justify-content: space-between;
}

@media all and (max-width: 960px) {
    .cv-buttons {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .contacts {
        padding-bottom: 3rem;
    }
}