.project {
  height: auto;
  padding: 35px 0;
  position: relative;
  background-color: #f1f5f8;
}

.project h2 {
  font-family: 'Poppins';
  font-size: 26px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 10px;
}

.projects-wrapper-1 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}

.projects-wrapper-1 .card-content {
  position: absolute;
  top: 50%;
  right: -60px;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 2;
  width: 90%;
  height: auto;
}

.projects-wrapper-2 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}

.projects-wrapper-2 .card-content {
  position: absolute;
  top: 50%;
  left: -60px;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 2;
  width: 90%;
  height: auto;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card-description {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 15px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background-color: #f1f1f1;
  color: #555;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.icons {
  display: flex;
  gap: 10px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.icon-btn:hover {
  color: #007bff;
}

.view-more-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.view-more-link:hover {
  text-decoration: underline;
}

@media (max-width: 1080px) {
  .card-content {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    max-width: 100%;
    margin-top: 20px;
  }

  .projects-wrapper-1 .card-content , .projects-wrapper-2 .card-content {
    top: 25%;
    left: 5%;
    transform: translateY(0);
  }
  .projects-wrapper {
    gap: 5rem;
  }

}

@media (max-width: 768px) {
  .project {
    padding-bottom: 7rem;
  }

  .projects-wrapper-1,
  .projects-wrapper-2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-content {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    max-width: 100%;
    margin-top: 20px;
  }

  .projects-wrapper-1 .card-content , .projects-wrapper-2 .card-content {
    top: 25%;
    left: 5%;
    transform: translateY(0);
  }
  .projects-wrapper {
    gap: 5rem;
  }
}

@media (max-width: 480px) {
  .project {
    padding-bottom: 10rem;
  }
  .project h2 {
    font-size: 22px;
  }

  .card-content {
    padding: 15px;
    max-width: 100%;
  }

  .card-title {
    font-size: 1em;
  }

  .card-description {
    font-size: 0.8rem;
  }

  .card-footer {
    flex-direction: column;
  }

  .projects-wrapper-1 .card-content , .projects-wrapper-2 .card-content {
    top: 10%;
    left: 5%;
    transform: translateY(0);
  }
  .projects-wrapper {
    max-width: 100%;
    gap: 5rem;
  }
}

@media (max-width: 380px) {
  .project {
    padding-bottom: 15rem;
  }

  .card-title {
    font-size: 0.9em;
  }

  .projects-wrapper {
    max-width: 100%;
    gap: 5rem;
  }
}
